@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width:850px) {
    #countryCard{
        flex-direction: column;
        align-items: center;
    }
    #countryDetail{
        flex-direction: column;
        align-items: center;
    }
    #searchCountry{
        width: 100%;
    }
}
